@media (max-width:580px)and (min-width: 400px){

      header{
        height: 70vh;
        width: 100%;
      }

    .land-img{
        /* position: absolute; */
        width: 100%;
        height: 70vh;
    }

    .image1{
        width: 100%;
        height: 100%;
      }

    .nav-links{
        display: none;
    }

    .nav-logo{
      margin-right: 65%;
      height: 7vh;
      width: 20%;
    }

    .logo{
      width: 100%;
      height: 100%;
    }

    .landing-page{
      margin-top: 25%;
    }

    .ld-text{
        color: white;
    }

    .tt{
        font-weight: 600;
        font-size: 17px;
    }

    .theme{
        font-weight: 600;
        font-size: 18px;
        text-align: center;
        margin-top: 10px;
    }

    .button-ld{
        width: 30%;
        height: 7vh;
        background: #FFA700;
        border-radius: 5px;
        border: none;
        margin-top: 30px;
      }

      .cont{
        height: 293vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }

      .text{
        font-size: 20px;
      }

     .cards{
       /* width: 0;
       height: 0; */
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;

     }

     .card-cont{
       margin-top: 5%;
       height: 86vh;
     }
      
      

      .fp-title{
        font-size: 20px;
      }

      .f-proj{
        height: 330vh;
        width: 100%;
        background-color: #F9F9F9;
      }

      .proj-cont{
        margin-top: 5%;
      }

      .proj1{
        width: 25%;
        height: 10vh;
        background: #FFA700;
        border: 2px solid #FFA700;
        box-sizing: border-box;
        border-radius: 5px;
        color: white;
        font-size: 1px;
      }
      
      .proj2{
        width: 22%;
        height: 5vh;
        background: #DDDDDD;
        border-radius: 5px;
        font-size: 12px;
      }
      
      .proj3{
        width: 18%;
        height: 5vh;
        background: #DDDDDD;
        border-radius: 5px;
        font-size: 12px;
      }
      
      .proj4{
        width: 13%;
        height: 5vh;
        background: #DDDDDD;
        border-radius: 5px;
        font-size: 12px;
      }
      
      .proj5{
        width: 16%;
        height: 5vh;
        background: #DDDDDD;
        border-radius: 5px;
        font-size: 12px;
      }
  .f-proj-img-cont{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
  } 

  .f-proj-img{
    width: 70%;
    height: 45vh;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    margin: 1.8%;
  }

  .cont2{
    height: 60vh;
  }

  .fourth{
    height: 280vh;
    width: 100%;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .what-people-say{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .w-p-text{
    font-size: 20px;
  }

  .person1{
    width: 70%;
    height: 65vh;
    margin-top: 15%;
  }

  .fifth{
    height: 370vh;
    width: 100%;
    background-color: #F9F9F9;
  }

  .service-title{
    font-size: 20px;
  }

 .service-cont{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 22%;
 } 

 .services{
    width: 70%;
 }

 .our-company-section{
   height: 310vh;
   width: 100%;
   background-color: white;
 }

 .ocs{
   margin-top: -7%;
   font-size: 20px;
 }

 .ocs-one{
   /* border: 1px solid  #FFA700; */
   flex-direction: column;
   justify-content: center;
   align-items: center;
 }

 .ocs-image{
   width: 80%;
   height: 70vh;
 }

 .ocs-desc{
  width: 80%;
  height: 80vh;
 }

 .ocs-title{
    /* margin-top: -10%; */
    font-size: 18px;
 }

 .ocs-text{
   font-size: 15px;

 }

 li{
   padding: 1.5%;
   margin-left: 1%;
 }

 .blog-page{
   height: 300vh;
   width: 100%;
   background-color: #F9F9F9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .blog-page-title{
   font-size: 20px;
 }

 .posts-container{
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }

 .report{
   margin-top: -27%;
 }

 .contact-page{
  height: 80vh;
 }

 .contact{
  display: flex;
  flex-wrap: wrap;
  width: 99%;
  /* justify-content: space-between; */
  /* flex-direction: column; */
  justify-content: center;
  /* align-items: center; */
 }

 .tl{
   font-size: 16px;
 }

 .pa{
   font-size: 14px;
 
  }
      
}